* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(147,230,241,1) 0%, rgba(145,192,241,1) 45.5% );}

.app__dropdown {
  background: radial-gradient(100% 98.02% at 0% 1.98%, rgba(255, 255, 255, 0.83) 0.01%, rgba(255, 255, 255, 0.47) 100%) !important;
  box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important;
  
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


/* .app__information > h3:last-of-type {
  margin-top: 1rem;
} */
.app__right{
  background: radial-gradient(100% 98.02% at 0% 1.98%, rgba(255, 255, 255, 0.83) 0.01%, rgba(255, 255, 255, 0.47) 100%) !important;
  box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.1) !important;
  border-radius: 25px !important;
  display: flex;
  flex-direction: column;
}
.app__right .MuiCardContent-root{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app__graph{
  flex-grow: 1;
}
.app__graphtitle{
  margin-top: 20px;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
