.infoBox {
  flex: 1;
  background: radial-gradient(100% 98.02% at 0% 1.98%, rgba(255, 255, 255, 0.83) 0.01%, rgba(255, 255, 255, 0.47) 100%) !important;
  box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.1) !important;
  border-radius: 25px !important;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 10px;
}

.infoBox--selected {
  border-top: 10px solid greenyellow;
}

.infoBox--red {
  border-color: red;
}

.infoBox__cases--green {
  color: lightgreen !important;
}

.infoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
